.postContainer {
  padding: 45px 45px;
  background: #fff;

  & .options {
    cursor: pointer;

    color: #000;
    font-size: 36px;
  }

  & .line {

    border-bottom: 2px solid #F1F1FA;
    margin: 30px auto 45px;
    width: 80%;
  }

  & .info {
    margin: 30px 0 45px 0;
  }

}

