.newsPage {
  & .newsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    & h1 {
      font-size: 24px;
      font-weight: 700;
    }
  }

  & .addPostInput {
    margin-bottom: 60px;
  }

  & .postNavBar {
    margin-bottom: 30px;
  }

  & .posts > * {
    margin-bottom: 60px;
  }
}



