.newsPageContainer {
  padding: 50px 60px;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h1 {
    font-size: 24px;
    font-weight: 700;
  }
}

.AddPostTextArea {
  width: 100%;
}